@model WebApplication1.Models.sehirler
@{
    ViewData["Title"] = "YeniSehir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" class="form-group">
    <div>
        @Html.LabelFor(m => m.SEHIR_AD)
        @Html.TextBoxFor(m => m.SEHIR_AD, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.SEHIR_PLAKA_KOD)
        @Html.TextBoxFor(m => m.SEHIR_PLAKA_KOD, new { @class = "form-control" })
    </div>

    <div class="d-flex align-items-center">
        <button class="btn btn-primary mt-4 mr-2">Ekle</button>
        <a href="/Rehber/" class="btn btn-danger mt-4">İptal Et</a>
    </div>
</form>

